/node_modules
/public/hot
/public/storage
/public/*.js
/public/*.js.map
/public/js/*.js
/public/js/*.txt
/public/js/*.map
/storage/*.key
/vendor
.env.backup
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
desktop.ini

